[submodule "lib/deps/node-websocket-server"]
	path = lib/deps/node-websocket-server
	url = http://github.com/miksago/node-websocket-server.git
[submodule "lib/deps/mongodb-native"]
	path = lib/deps/mongodb-native
	url = http://github.com/christkv/node-mongodb-native.git
[submodule "lib/deps/express"]
	path = lib/deps/express
	url = http://github.com/visionmedia/express.git
