<script type="text/javascript" src="/public/javascripts/dashboard.canvas.js"></script>

<div id="hits_average"></div>
<div id="dashboard">
  <canvas id="graph" class="graph" height="400" width="1200">
    Your browser doesn't support the HTML5 <code>&lt;canvas&gt;</code> element. Sorry.
  </canvas>
</div>

<div id="all_action_graphs" class="clear">
  
</div>