<!DOCTYPE html>
<html>

<head>
  <title>PixelPusher</title>
  <link rel="icon" type="image/png" href="/public/images/favicon.png">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <link rel="stylesheet" href="/public/stylesheets/reset.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/public/stylesheets/app.css" type="text/css" media="screen">
  
</head>

<body>
<div id="outer_wrapper">
  <div id="wrapper">
    <h1>PixelPusher</h1>
    <%= body %>
  </div>
</div>
</body>
</html>
